@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/sf-pro-display-cufonfonts/SFProDisplay-BlackItalic.woff2') format('woff2'),
        url('./fonts/sf-pro-display-cufonfonts/SFProDisplay-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/sf-pro-display-cufonfonts/SFProDisplay-HeavyItalic.woff2') format('woff2'),
        url('./fonts/sf-pro-display-cufonfonts/SFProDisplay-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/sf-pro-display-cufonfonts/SFProDisplay-LightItalic.woff2') format('woff2'),
        url('./fonts/sf-pro-display-cufonfonts/SFProDisplay-LightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/sf-pro-display-cufonfonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('./fonts/sf-pro-display-cufonfonts/SFProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/sf-pro-display-cufonfonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('./fonts/sf-pro-display-cufonfonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/sf-pro-display-cufonfonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('./fonts/sf-pro-display-cufonfonts/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/sf-pro-display-cufonfonts/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
        url('./fonts/sf-pro-display-cufonfonts/SFProDisplay-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/sf-pro-display-cufonfonts/SFProDisplay-ThinItalic.woff2') format('woff2'),
        url('./fonts/sf-pro-display-cufonfonts/SFProDisplay-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/sf-pro-display-cufonfonts/SFProDisplay-UltralightItalic.woff2') format('woff2'),
        url('./fonts/sf-pro-display-cufonfonts/SFProDisplay-UltralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

